<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vim" />
  <package id="fiddler4"/>
  <package id="procexp" />
  <package id="f.lux" />
  <package id="linqpad4" />
  <package id="ag" />
  <package id="sublimetext3" />
  <package id="windbg" />
  <package id="kdiff3" />
  <!-- Leave these out for now
  <package id="Console2" />
  <package id="notepadplusplus" />
  <package id="EthanBrown.ConEmuConfig" />
  <package id="googlechrome" />
  <package id="putty" />
  -->
</packages>
