<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chrome" />
  <package id="vim" />
  <package id="Console2" />
  <package id="fiddler"/>
  <package id="sublimetext2" />
  <package id="procexp" />
  <package id="f.lux" />
  <package id="EthanBrown.ConEmuConfig" />
  <package id="linqpad4" />
  <package id="putty" />
</packages>
